<h1 class="animate faceIn fast">Aplicacion de Peliculas</h1>
<hr> 
<p> 
Disney, fundada en 1923 por Walt Disney y Roy O. Disney, ha sido un pionero en la animación, creando un legado de clásicos que han dejado una huella indeleble en la cultura popular. Desde el lanzamiento de Blancanieves y los siete enanitos en 1937, el primer largometraje animado de la historia, Disney ha continuado produciendo películas que combinan narrativas encantadoras con innovaciones artísticas.
<br>
&nbsp;Pixar, fundada en 1986, ha revolucionado la animación con su innovadora técnica de animación por computadora y sus historias profundamente emotivas. Su primer largometraje, Toy Story (1995), fue un hito en la industria, siendo el primer largometraje completamente animado por ordenador. Desde entonces, Pixar ha creado una serie de películas que no solo entretienen, sino que también exploran temas complejos y resonantes.
</p>